-var page = ''
-var bodyClass = ''
-var pagetitle = ''
-var sitetitle = ''
block variables
doctype html
html
  head
    title Mycoso
    //- link(rel="shortcut icon", href="favicon.ico", type="")
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content="")
    meta(property="og:image", content="")
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(name="format-detection" content="telephone=no")

    include _styleLinks
    block stylelinks
    block head
  body
    #page-wrap
      block header
      block body
      block footer
    include _scriptLinks
    block foot
    div#myModal_writer.modal.fade (role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button" data-dismiss="modal")  &times;
            h4(style="color:red") 
              span.glyphicon.glyphicon-lock Writer Login
          div.modal-body
            form(role="form")
              div.form-group
                label(for="usrname")
                  span.glyphicon.glyphicon-user Username
                input#usrname.form-control(type="text" placeholder="Enter email")
              div.form-group
                label(for="psw")
                  span.glyphicon.glyphicon-eye-open Password
                input#psw.form-control(type="text" placeholder="Enter password")
              div.checkbox
                label
                  input(type="checkbox" value="" checked) 
                  Remember me
                button.btn.btn-default.btn-success.btn-block(type="submit")
                  span.glyphicon.glyphicon-off Login
          div.modal-footer
            button.btn.btn-default.btn-default.pull-left(type="submit" data-dismiss="modal")
              span.glyphicon.glyphicon-remove Cancel
            p Not a member?
            a(href="#") Sign Up
            a(href="#") Forgot Password?

    div#myModal_content.modal.fade (role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button" data-dismiss="modal")  &times;
            h4(style="color:red") 
              span.glyphicon.glyphicon-lock Content Login
          div.modal-body
            form(role="form")
              div.form-group
                label(for="usrname")
                  span.glyphicon.glyphicon-user Username
                input#usrname.form-control(type="text" placeholder="Enter email")
              div.form-group
                label(for="psw")
                  span.glyphicon.glyphicon-eye-open Password
                input#psw.form-control(type="text" placeholder="Enter password")
              div.checkbox
                label
                  input(type="checkbox" value="" checked) 
                  Remember me
                button.btn.btn-default.btn-success.btn-block(type="submit")
                  span.glyphicon.glyphicon-off Login
          div.modal-footer
            button.btn.btn-default.btn-default.pull-left(type="submit" data-dismiss="modal")
              span.glyphicon.glyphicon-remove Cancel
            p Not a member?
            a(href="#") Sign Up
            a(href="#") Forgot Password?